@charset "UTF-8";
/*
	*******
	General font stack rule:
	
		font-family: 'preffered font', 'next best thing', 'something common and sort of close', 'generic font';
	*******

	*******		
	Font width guidelines:

	i. sans-serif
	 	Verdana - wide;
	 	Arial - narrow;

	ii. serif
	 	Georgia - wide;
	 	Times New Roman - narrow;
	*******

	*******
	Body stacks
	
	i. sans-serif
		font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Geneva, sans-serif;
		font-family: GillSans, Calibri, 'Trebuchet MS', sans-serif;
	
	ii. serif
		font-family: Baskerville, 'Times New Roman', Times, serif;
		font-family: Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
	*******	 
	 
	*******
	Headline stacks
	
	i. sans-serif
		font-family: Tahoma, Verdana, Geneva, sans-serif;
		font-family: Trebuchet, Tahoma, Arial, sans-serif;
	 
	ii. serif
		font-family: Georgia, Times, ‘Times New Roman’, serif;
 		font-family: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
  	*******

	*******
	Width based stacks - from http://safalra.com/web-design/typography/web-safe-fonts-myth/
	"Typefaces differ in many respects, but the most significant variable effecting readability
	is the ‘aspect ratio’ — the ratio of the height of minuscules (lowercase letters) to the overall height."
	 
	i. wide sans-serif
		font-family: Verdana, Geneva, sans-serif;
	 	
	ii. narrow sans-serif
		font-family: Arial, Helvetica, Tahoma, sans-serif;
	  
	iii. wide serif
		font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
	 
	iv. narrow serif
	  	font-family: 'Times New Roman', Times, serif;
	  
	v. monospace
		font-family: 'Courier New', Courier, monospace;
  	*******
*/
/*************** Fonts *****************/
/***************************************/
/*************** Base *****************/
/* line 16, ../sass/screen.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/screen.scss */
a:link,
a:visited {
  text-decoration: none;
}

/* line 25, ../sass/screen.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 32, ../sass/screen.scss */
h1,
h2 {
  margin: 0;
  font-size: 100%;
}

/**************************************/
