@import 'compass/css3';
@import 'partials/base';
@import 'partials/placeholders';
@import 'partials/mixins';


/*************** Fonts *****************/

/***************************************/


/*************** Base *****************/

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

a:link,
a:visited {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin: 0;
	font-size: 100%;
}

/**************************************/

