// font-face mixin
@mixin declare-font-face($font-family, $font-filename) {
	@font-face {
		font-family: '#{$font-family}';
		src: font-url('#{$font-filename}-webfont.eot');
		src: font-url('#{$font-filename}-webfont.eot?#iefix') format('embedded-opentype'),
			 font-url('#{$font-filename}-webfont.woff') format('woff'),
			 font-url('#{$font-filename}-webfont.ttf') format('truetype'),
			 font-url('#{$font-filename}-webfont.svg##{$font-family}') format('svg');

		font-weight: normal;
		font-style: normal;
	}
}
